<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cunhou.service.web.investment.mapper.MatchUserMapper">
  <resultMap id="BaseResultMap" type="com.cunhou.service.web.investment.entry.MatchUser">
    <constructor>
      <idArg column="userid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="certtype" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="certnum" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bankname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="banknumber" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="accountOrg" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="investorType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sex" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="emerContact" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="emerContactPhone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="province" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="city" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fax" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="postcode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="photo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="createtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Criteria_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Criteria_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    userid, username, certtype, certnum, bankname, banknumber, accountOrg, investorType, 
    sex, emerContact, emerContactPhone, address, province, city, phone, email, fax, postcode, 
    photo, createtime
  </sql>
  <select id="selectByCriteria" parameterType="com.cunhou.service.web.investment.entry.criteria.MatchUserCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from match_user
    <if test="_parameter != null">
      <include refid="Criteria_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="offset &gt;= 0">
      limit #{offset} , #{limitCount}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from match_user
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from match_user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.cunhou.service.web.investment.entry.criteria.MatchUserCriteria">
    delete from match_user
    <if test="_parameter != null">
      <include refid="Criteria_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cunhou.service.web.investment.entry.MatchUser">
    insert into match_user (userid, username, certtype, 
      certnum, bankname, banknumber, 
      accountOrg, investorType, sex, 
      emerContact, emerContactPhone, address, 
      province, city, phone, 
      email, fax, postcode, 
      photo, createtime)
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{certtype,jdbcType=VARCHAR}, 
      #{certnum,jdbcType=VARCHAR}, #{bankname,jdbcType=VARCHAR}, #{banknumber,jdbcType=VARCHAR}, 
      #{accountorg,jdbcType=VARCHAR}, #{investortype,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{emercontact,jdbcType=VARCHAR}, #{emercontactphone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, 
      #{photo,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cunhou.service.web.investment.entry.MatchUser">
    insert into match_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="certtype != null">
        certtype,
      </if>
      <if test="certnum != null">
        certnum,
      </if>
      <if test="bankname != null">
        bankname,
      </if>
      <if test="banknumber != null">
        banknumber,
      </if>
      <if test="accountorg != null">
        accountOrg,
      </if>
      <if test="investortype != null">
        investorType,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="emercontact != null">
        emerContact,
      </if>
      <if test="emercontactphone != null">
        emerContactPhone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="certtype != null">
        #{certtype,jdbcType=VARCHAR},
      </if>
      <if test="certnum != null">
        #{certnum,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null">
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="banknumber != null">
        #{banknumber,jdbcType=VARCHAR},
      </if>
      <if test="accountorg != null">
        #{accountorg,jdbcType=VARCHAR},
      </if>
      <if test="investortype != null">
        #{investortype,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="emercontact != null">
        #{emercontact,jdbcType=VARCHAR},
      </if>
      <if test="emercontactphone != null">
        #{emercontactphone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCriteria" parameterType="com.cunhou.service.web.investment.entry.criteria.MatchUserCriteria" resultType="java.lang.Integer">
    select count(*) from match_user
    <if test="_parameter != null">
      <include refid="Criteria_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map">
    update match_user
    <set>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.certtype != null">
        certtype = #{record.certtype,jdbcType=VARCHAR},
      </if>
      <if test="record.certnum != null">
        certnum = #{record.certnum,jdbcType=VARCHAR},
      </if>
      <if test="record.bankname != null">
        bankname = #{record.bankname,jdbcType=VARCHAR},
      </if>
      <if test="record.banknumber != null">
        banknumber = #{record.banknumber,jdbcType=VARCHAR},
      </if>
      <if test="record.accountorg != null">
        accountOrg = #{record.accountorg,jdbcType=VARCHAR},
      </if>
      <if test="record.investortype != null">
        investorType = #{record.investortype,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.emercontact != null">
        emerContact = #{record.emercontact,jdbcType=VARCHAR},
      </if>
      <if test="record.emercontactphone != null">
        emerContactPhone = #{record.emercontactphone,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.fax != null">
        fax = #{record.fax,jdbcType=VARCHAR},
      </if>
      <if test="record.postcode != null">
        postcode = #{record.postcode,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null">
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map">
    update match_user
    set userid = #{record.userid,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      certtype = #{record.certtype,jdbcType=VARCHAR},
      certnum = #{record.certnum,jdbcType=VARCHAR},
      bankname = #{record.bankname,jdbcType=VARCHAR},
      banknumber = #{record.banknumber,jdbcType=VARCHAR},
      accountOrg = #{record.accountorg,jdbcType=VARCHAR},
      investorType = #{record.investortype,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      emerContact = #{record.emercontact,jdbcType=VARCHAR},
      emerContactPhone = #{record.emercontactphone,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      fax = #{record.fax,jdbcType=VARCHAR},
      postcode = #{record.postcode,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cunhou.service.web.investment.entry.MatchUser">
    update match_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="certtype != null">
        certtype = #{certtype,jdbcType=VARCHAR},
      </if>
      <if test="certnum != null">
        certnum = #{certnum,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null">
        bankname = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="banknumber != null">
        banknumber = #{banknumber,jdbcType=VARCHAR},
      </if>
      <if test="accountorg != null">
        accountOrg = #{accountorg,jdbcType=VARCHAR},
      </if>
      <if test="investortype != null">
        investorType = #{investortype,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="emercontact != null">
        emerContact = #{emercontact,jdbcType=VARCHAR},
      </if>
      <if test="emercontactphone != null">
        emerContactPhone = #{emercontactphone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cunhou.service.web.investment.entry.MatchUser">
    update match_user
    set username = #{username,jdbcType=VARCHAR},
      certtype = #{certtype,jdbcType=VARCHAR},
      certnum = #{certnum,jdbcType=VARCHAR},
      bankname = #{bankname,jdbcType=VARCHAR},
      banknumber = #{banknumber,jdbcType=VARCHAR},
      accountOrg = #{accountorg,jdbcType=VARCHAR},
      investorType = #{investortype,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      emerContact = #{emercontact,jdbcType=VARCHAR},
      emerContactPhone = #{emercontactphone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.cunhou.service.web.investment.entry.MatchUser">
    <constructor>
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="certtype" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="certnum" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bankname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="banknumber" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="accountOrg" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="investorType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sex" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="emerContact" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="emerContactPhone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="province" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="city" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fax" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="postcode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="photo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userid" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Criteria_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Criteria_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    username, certtype, certnum, bankname, banknumber, accountOrg, investorType, sex, 
    emerContact, emerContactPhone, address, province, city, phone, email, fax, postcode, 
    photo, userid
  </sql>
  <select id="selectByCriteria" parameterType="com.cunhou.service.web.investment.entry.criteria.MatchUserCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from match_user
    <if test="_parameter != null">
      <include refid="Criteria_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="offset &gt;= 0">
      limit #{offset} , #{limitCount}
    </if>
  </select>
  <delete id="deleteByCriteria" parameterType="com.cunhou.service.web.investment.entry.criteria.MatchUserCriteria">
    delete from match_user
    <if test="_parameter != null">
      <include refid="Criteria_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cunhou.service.web.investment.entry.MatchUser">
    insert into match_user (username, certtype, certnum, 
      bankname, banknumber, accountOrg, 
      investorType, sex, emerContact, 
      emerContactPhone, address, province, 
      city, phone, email, 
      fax, postcode, photo, 
      userid)
    values (#{username,jdbcType=VARCHAR}, #{certtype,jdbcType=VARCHAR}, #{certnum,jdbcType=VARCHAR}, 
      #{bankname,jdbcType=VARCHAR}, #{banknumber,jdbcType=VARCHAR}, #{accountorg,jdbcType=VARCHAR}, 
      #{investortype,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{emercontact,jdbcType=VARCHAR}, 
      #{emercontactphone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, 
      #{userid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cunhou.service.web.investment.entry.MatchUser">
    insert into match_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="certtype != null">
        certtype,
      </if>
      <if test="certnum != null">
        certnum,
      </if>
      <if test="bankname != null">
        bankname,
      </if>
      <if test="banknumber != null">
        banknumber,
      </if>
      <if test="accountorg != null">
        accountOrg,
      </if>
      <if test="investortype != null">
        investorType,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="emercontact != null">
        emerContact,
      </if>
      <if test="emercontactphone != null">
        emerContactPhone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="userid != null">
        userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="certtype != null">
        #{certtype,jdbcType=VARCHAR},
      </if>
      <if test="certnum != null">
        #{certnum,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null">
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="banknumber != null">
        #{banknumber,jdbcType=VARCHAR},
      </if>
      <if test="accountorg != null">
        #{accountorg,jdbcType=VARCHAR},
      </if>
      <if test="investortype != null">
        #{investortype,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="emercontact != null">
        #{emercontact,jdbcType=VARCHAR},
      </if>
      <if test="emercontactphone != null">
        #{emercontactphone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByCriteria" parameterType="com.cunhou.service.web.investment.entry.criteria.MatchUserCriteria" resultType="java.lang.Integer">
    select count(*) from match_user
    <if test="_parameter != null">
      <include refid="Criteria_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map">
    update match_user
    <set>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.certtype != null">
        certtype = #{record.certtype,jdbcType=VARCHAR},
      </if>
      <if test="record.certnum != null">
        certnum = #{record.certnum,jdbcType=VARCHAR},
      </if>
      <if test="record.bankname != null">
        bankname = #{record.bankname,jdbcType=VARCHAR},
      </if>
      <if test="record.banknumber != null">
        banknumber = #{record.banknumber,jdbcType=VARCHAR},
      </if>
      <if test="record.accountorg != null">
        accountOrg = #{record.accountorg,jdbcType=VARCHAR},
      </if>
      <if test="record.investortype != null">
        investorType = #{record.investortype,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.emercontact != null">
        emerContact = #{record.emercontact,jdbcType=VARCHAR},
      </if>
      <if test="record.emercontactphone != null">
        emerContactPhone = #{record.emercontactphone,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.fax != null">
        fax = #{record.fax,jdbcType=VARCHAR},
      </if>
      <if test="record.postcode != null">
        postcode = #{record.postcode,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null">
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map">
    update match_user
    set username = #{record.username,jdbcType=VARCHAR},
      certtype = #{record.certtype,jdbcType=VARCHAR},
      certnum = #{record.certnum,jdbcType=VARCHAR},
      bankname = #{record.bankname,jdbcType=VARCHAR},
      banknumber = #{record.banknumber,jdbcType=VARCHAR},
      accountOrg = #{record.accountorg,jdbcType=VARCHAR},
      investorType = #{record.investortype,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      emerContact = #{record.emercontact,jdbcType=VARCHAR},
      emerContactPhone = #{record.emercontactphone,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      fax = #{record.fax,jdbcType=VARCHAR},
      postcode = #{record.postcode,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.cunhou.service.web.investment.entry.MatchUser">
    <constructor>
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="certtype" javaType="com.cunhou.service.web.investment.entry.CertType" jdbcType="VARCHAR" typeHandler="com.cunhou.service.web.investment.mapper.handler.CertTypeHandler" />
      <arg column="certnum" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bankname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="banknumber" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="accountOrg" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="investorType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sex" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="emerContact" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="emerContactPhone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="province" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="city" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fax" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="postcode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="photo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userid" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Criteria_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.certTypeCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.cunhou.service.web.investment.mapper.handler.CertTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.cunhou.service.web.investment.mapper.handler.CertTypeHandler} and #{criterion.secondValue,typeHandler=com.cunhou.service.web.investment.mapper.handler.CertTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=com.cunhou.service.web.investment.mapper.handler.CertTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Criteria_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.certTypeCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.cunhou.service.web.investment.mapper.handler.CertTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.cunhou.service.web.investment.mapper.handler.CertTypeHandler} and #{criterion.secondValue,typeHandler=com.cunhou.service.web.investment.mapper.handler.CertTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=com.cunhou.service.web.investment.mapper.handler.CertTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    username, certtype, certnum, bankname, banknumber, accountOrg, investorType, sex, 
    emerContact, emerContactPhone, address, province, city, phone, email, fax, postcode, 
    photo, userid
  </sql>
  <select id="selectByCriteria" parameterType="com.cunhou.service.web.investment.entry.criteria.MatchUserCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from match_user
    <if test="_parameter != null">
      <include refid="Criteria_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="offset &gt;= 0">
      limit #{offset} , #{limitCount}
    </if>
  </select>
  <delete id="deleteByCriteria" parameterType="com.cunhou.service.web.investment.entry.criteria.MatchUserCriteria">
    delete from match_user
    <if test="_parameter != null">
      <include refid="Criteria_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cunhou.service.web.investment.entry.MatchUser">
    insert into match_user (username, certtype, 
      certnum, bankname, banknumber, 
      accountOrg, investorType, sex, 
      emerContact, emerContactPhone, address, 
      province, city, phone, 
      email, fax, postcode, 
      photo, userid)
    values (#{username,jdbcType=VARCHAR}, #{certType,jdbcType=VARCHAR,typeHandler=com.cunhou.service.web.investment.mapper.handler.CertTypeHandler}, 
      #{certnum,jdbcType=VARCHAR}, #{bankname,jdbcType=VARCHAR}, #{banknumber,jdbcType=VARCHAR}, 
      #{accountorg,jdbcType=VARCHAR}, #{investortype,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{emercontact,jdbcType=VARCHAR}, #{emercontactphone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, 
      #{photo,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cunhou.service.web.investment.entry.MatchUser">
    insert into match_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="certType != null">
        certtype,
      </if>
      <if test="certnum != null">
        certnum,
      </if>
      <if test="bankname != null">
        bankname,
      </if>
      <if test="banknumber != null">
        banknumber,
      </if>
      <if test="accountorg != null">
        accountOrg,
      </if>
      <if test="investortype != null">
        investorType,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="emercontact != null">
        emerContact,
      </if>
      <if test="emercontactphone != null">
        emerContactPhone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="userid != null">
        userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="certType != null">
        #{certType,jdbcType=VARCHAR,typeHandler=com.cunhou.service.web.investment.mapper.handler.CertTypeHandler},
      </if>
      <if test="certnum != null">
        #{certnum,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null">
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="banknumber != null">
        #{banknumber,jdbcType=VARCHAR},
      </if>
      <if test="accountorg != null">
        #{accountorg,jdbcType=VARCHAR},
      </if>
      <if test="investortype != null">
        #{investortype,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="emercontact != null">
        #{emercontact,jdbcType=VARCHAR},
      </if>
      <if test="emercontactphone != null">
        #{emercontactphone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByCriteria" parameterType="com.cunhou.service.web.investment.entry.criteria.MatchUserCriteria" resultType="java.lang.Integer">
    select count(*) from match_user
    <if test="_parameter != null">
      <include refid="Criteria_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map">
    update match_user
    <set>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.certType != null">
        certtype = #{record.certType,jdbcType=VARCHAR,typeHandler=com.cunhou.service.web.investment.mapper.handler.CertTypeHandler},
      </if>
      <if test="record.certnum != null">
        certnum = #{record.certnum,jdbcType=VARCHAR},
      </if>
      <if test="record.bankname != null">
        bankname = #{record.bankname,jdbcType=VARCHAR},
      </if>
      <if test="record.banknumber != null">
        banknumber = #{record.banknumber,jdbcType=VARCHAR},
      </if>
      <if test="record.accountorg != null">
        accountOrg = #{record.accountorg,jdbcType=VARCHAR},
      </if>
      <if test="record.investortype != null">
        investorType = #{record.investortype,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.emercontact != null">
        emerContact = #{record.emercontact,jdbcType=VARCHAR},
      </if>
      <if test="record.emercontactphone != null">
        emerContactPhone = #{record.emercontactphone,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.fax != null">
        fax = #{record.fax,jdbcType=VARCHAR},
      </if>
      <if test="record.postcode != null">
        postcode = #{record.postcode,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null">
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map">
    update match_user
    set username = #{record.username,jdbcType=VARCHAR},
      certtype = #{record.certType,jdbcType=VARCHAR,typeHandler=com.cunhou.service.web.investment.mapper.handler.CertTypeHandler},
      certnum = #{record.certnum,jdbcType=VARCHAR},
      bankname = #{record.bankname,jdbcType=VARCHAR},
      banknumber = #{record.banknumber,jdbcType=VARCHAR},
      accountOrg = #{record.accountorg,jdbcType=VARCHAR},
      investorType = #{record.investortype,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      emerContact = #{record.emercontact,jdbcType=VARCHAR},
      emerContactPhone = #{record.emercontactphone,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      fax = #{record.fax,jdbcType=VARCHAR},
      postcode = #{record.postcode,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
</mapper>